.header {
    margin-bottom: 10px;
    width: 100%;
    min-height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    margin-left: 9px;
    color: #fff;
}

.component {
    display: flex;
    align-items: center;
}

.text_type_profile {
    color: #8585ad;
    margin-left: 7px;
}

.text_type_secondary {
    color: #8585ad;
    margin-left: 9px;
}

.constructor {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 48px;
    margin-left: 13px;
}

.list {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.profile {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 309px;
    margin-left: 130px;
}
